*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    list-style: none;
}
.main-container{
    max-width: 1024px;
}

header .container{
   display: flex;
   justify-content: space-between;
   padding: 18px;
}
.titulo-principal .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 33px;
    margin: 60px;
}
.titulo-principal img{
    border-radius: 11px;
}
.sub-titulo{
    font-size: 30px;
    text-align: center ;
    margin-top: 100px;
}
button{
    padding: 26px;
    margin: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(27, 27, 88);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(46, 46, 94);
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 80px;
    margin: 80px;
    text-align: center;
}
.grid-container img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    box-shadow:  23px 23px 46px #bebebe,
    -23px -23px 46px #ffffff;
}
.poster .container{
    display: flex;
    justify-content: center;
    padding: 80px;
    margin: 50px;
}
.poster img{
    width: 780px;
}

footer{
    text-align: center;
}
@media (max-width:767px){
    header img{
        width: 100%;
    }
    button{
        padding: 6px;
        margin: 6px;
        font-size: 14px;
    }
    .titulo-principal .container{
        display: block;
        font-size: 22px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding-top: 30px;

    }
    .titulo-principal .container img{
        width: 100%;
        padding-top: 20px;
    }
    .sub-titulo{
        font-size: 18px;
        margin-top: 60px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 150px 150px;
        gap: 3%;
        justify-content: center;
        margin: 0 auto;
        font-size: 12px;
    }
    .grid-container img{
    height: 150px;
    width: 150px;
    border-radius: 50px;
    box-shadow:  23px 23px 46px #bebebe,
    -23px -23px 46px #ffffff;
}
    .poster img{
        width: 360px;
    }
    
}
@media (min-width:767px) and (max-width:1023px){

    .titulo-principal .container{
        display: block;
        font-size: 36px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding-top: 65px;

    }
    .titulo-principal .container img{
        padding-top: 20px;
    }
    .sub-titulo{
        font-size: 30px;
        margin-top: 60px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        margin: 0 auto;
    }
    .grid-container img{
    height: 145px;
    width: 145px;
    border-radius: 50px;
    box-shadow:  23px 23px 46px #bebebe,
    -23px -23px 46px #ffffff;
}
    .poster img{
        width: 768px;
    }
    
}
